@import "reset";
@font-face {
  src: url(./JustAnotherHand-Regular.ttf);
  font-family: customFont;
}
body {
  margin-inline: 10%;
  background: #f8f8f8;
  background-image: linear-gradient(
      90deg,
      rgba(158, 157, 157, 0.21) 0.5px,
      transparent 0
    ),
    linear-gradient(rgba(158, 157, 157, 0.21) 0.5px, transparent 0);
  background-size: 25rem 25rem;
}
header {
  height: 10vh;

  nav {
    .nav-title {
    }
    .nav-buttons {
    }
  }
}
section {
  main {
    height: 70vh;
    margin-inline: 15em;
    box-shadow: 1px -1px 49px -8px rgba(0, 0, 0, 0.33);
    border-radius: 2px;
    border: 4px solid transparent;
    margin-bottom: 12vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .validator {
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: customFont;
      .sub-validator {
        text-align: center;

        font-size: xx-large;
      }
      .sub-validator {
        display: inline-block;
        border: 3px solid #333333;
        font-size: 2.5rem;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        background: #ffffff;
        position: relative;

        &::before {
          content: "";
          border: 2px solid #353535;
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
          border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
        }
      }
    }
    .section-main {
      height: 40vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .question-container {
        max-width: 20em;
        max-height: 20em;
        margin-right: 2vw;
        p {
          font-size: larger;
          border-left: 3px solid rgb(112, 105, 170);
          padding-left: 15px;
        }
      }
      .answer-container {
        max-width: 20em;
        max-height: 20em;
        #answered-word {
          border: 1px solid #ffffff00;
          border-bottom: 1px solid #76767679;

          transition: all 0.3s ease-in-out;
          outline: none;
          border-radius: 2px;
          font-size: larger;
        }
        #answered-word:focus {
          transition-duration: all 0.3s ease-in-out;
          border-bottom: 1px solid black;
          color: black;
          filter: drop-shadow(1px 1px 5px rgba(10, 10, 10, 0.045));
        }
      }
    }
    .button-container {
      height: 30vh;

      display: flex;
      justify-content: center;
      align-items: center;
      // @include contact-input-elements-setting;
      // .button {
      //   display: inline-block;
      //   margin-bottom: 4em;
      //   padding: 6px 20px 0px 20px;
      //   border: none;
      //   background-color: #ffffff00;
      //   border-bottom: 2px solid black;
      //   width: 8em;
      //   transition: all 0.4s;
      //   cursor: pointer;
      // }
      // .button span {
      //   cursor: pointer;
      //   display: inline-block;
      //   position: relative;
      //   transition: 0.4s;
      // }
      // .button span:after {
      //   content: "now";
      //   opacity: 0;
      //   top: 0;
      //   right: -20px;
      //   transition: 0.4s;
      //   position: absolute;
      // }
      // .button:hover span {
      //   padding-right: 2.04em;
      // }
      // .button:hover span:after {
      //   opacity: 4;
      //   right: 0;
      // }
      // .button-50 {
      //   appearance: button;
      //   background-color: #000;
      //   background-image: none;
      //   border: 1px solid #000;
      //   border-radius: 4px;
      //   box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
      //   box-sizing: border-box;
      //   color: #fff;
      //   cursor: pointer;
      //   display: inline-block;
      //   font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
      //   font-size: 14px;
      //   font-weight: 400;
      //   line-height: 20px;
      //   margin: 0 5px 10px 1em;
      //   overflow: visible;
      //   padding: 12px 40px;
      //   text-align: center;
      //   text-transform: none;
      //   touch-action: manipulation;
      //   user-select: none;
      //   -webkit-user-select: none;
      //   vertical-align: middle;
      //   white-space: nowrap;
      // }

      // .button-50:focus {
      //   text-decoration: none;
      // }

      // .button-50:hover {
      //   text-decoration: none;
      // }

      // .button-50:active {
      //   box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
      //   outline: 0;
      // }

      // .button-50:not([disabled]):active {
      //   box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
      //   transform: translate(2px, 2px);
      // }

      // @media (min-width: 768px) {
      //   .button-50 {
      //     padding: 12px 50px;
      //   }
      // }
      // .button-55 {
      //   align-self: center;
      //   background-color: #fff;
      //   background-image: none;
      //   background-position: 0 90%;
      //   background-repeat: repeat no-repeat;
      //   background-size: 4px 3px;
      //   border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
      //   border-style: solid;
      //   border-width: 2px;
      //   box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
      //   box-sizing: border-box;
      //   color: #41403e;
      //   cursor: pointer;
      //   display: inline-block;
      //   font-family: Neucha, sans-serif;
      //   font-size: 1rem;
      //   line-height: 23px;
      //   outline: none;
      //   padding: 0.75rem;
      //   text-decoration: none;
      //   transition: all 235ms ease-in-out;
      //   border-bottom-left-radius: 15px 255px;
      //   border-bottom-right-radius: 225px 15px;
      //   border-top-left-radius: 255px 15px;
      //   border-top-right-radius: 15px 225px;
      //   user-select: none;
      //   -webkit-user-select: none;
      //   touch-action: manipulation;
      // }

      // .button-55:hover {
      //   box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
      //   transform: translate3d(0, 2px, 0);
      // }

      .button-55:focus {
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
      }
      .button-54 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        border: 3px solid;
        padding: 0.25em 0.5em;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
          4px 4px 0px 0px, 5px 5px 0px 0px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-left: 4em;
      }

      .button-54:active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
      }

      @media (min-width: 768px) {
        .button-54 {
          padding: 0.25em 0.75em;
        }
      }
    }
  }
}
footer {
  height: 8vh;
  .footer-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sub-main {
      border-top: 1px solid rgba(0, 0, 0, 0.21);
      background-color: #f8f8f8;
      width: 30vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
