/* Box sizing rules */
@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  src: url(/fonts/JustAnotherHand-Regular.ttf);
  font-family: customFont;
}
body {
  font-family: "Muli", sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png");
  margin-inline: 10%;
  background: #f8f8f8;
  background-image: linear-gradient(90deg, rgba(158, 157, 157, 0.21) 0.5px, transparent 0), linear-gradient(rgba(158, 157, 157, 0.21) 0.5px, transparent 0);
  background-size: 25rem 25rem;
}

header {
  height: 10vh;
}

section main {
  height: 70vh;
  margin-inline: 15em;
  margin-bottom: 12vh;
  box-shadow: 1px -1px 49px -8px rgba(0, 0, 0, 0.33);
  border-radius: 3px;
  border: 4px solid white;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section main .title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: customFont;
  font-family: "Damion", cursive;
  margin: 50px;
  text-align: center;
  font-size: xx-large;
  display: inline-block;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}
section main .section-main {
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2em 10em;
}
section main .section-main .question-container {
  min-width: 15em;
  max-width: 20em;
  min-height: 2rem;
  max-height: 20em;
  border-left: 3px solid #df25d3;
}
section main .section-main .question-container p {
  font-size: larger;
  padding-left: 15px;
}
section main .section-main .answer-container #answered-word {
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(118, 118, 118, 0.4745098039);
  transition: all 0.3s ease-in-out;
  outline: none;
  border-radius: 2px;
  font-size: larger;
}
section main .section-main .answer-container #answered-word:focus {
  transition-duration: all 0.3s ease-in-out;
  border-bottom: 1px solid black;
  color: black;
  filter: drop-shadow(1px 1px 5px rgba(10, 10, 10, 0.045));
}
section main .section-main .answer-container .col-3 {
  float: left;
  width: 100%;
  margin: 40px 3%;
  position: relative;
}
section main .section-main .answer-container :focus {
  outline: none;
}
section main .section-main .answer-container input[type=text] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  min-width: 10em;
  max-width: 15em;
  min-height: 2rem;
  box-sizing: border-box;
  letter-spacing: 1px;
}
section main .section-main .answer-container .effect-8 ~ .focus-border:before,
section main .section-main .answer-container .effect-8 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #df25d3;
  transition: 0.3s;
}
section main .section-main .answer-container .effect-8 ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
section main .section-main .answer-container .effect-8 ~ .focus-border i:before,
section main .section-main .answer-container .effect-8 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #df25d3;
  transition: 0.4s;
}
section main .section-main .answer-container .effect-8 ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
section main .section-main .answer-container .effect-8:focus ~ .focus-border:before,
section main .section-main .answer-container .effect-8:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.9s;
}
section main .section-main .answer-container .effect-8:focus ~ .focus-border i:before,
section main .section-main .answer-container .effect-8:focus ~ .focus-border i:after {
  height: 100%;
  transition: 1.2s;
}
section main .button-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
section main .button-container .button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
section main .button-container .button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  margin-top: 1em;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 4em;
}
section main .button-container .button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
@media (min-width: 768px) {
  section main .button-container .button-54 {
    padding: 0.25em 0.75em;
  }
}

footer {
  height: 8vh;
  color: rgba(0, 0, 0, 0.426);
}
footer .footer-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-main .sub-main {
  border-top: 1px solid rgba(0, 0, 0, 0.21);
  background-color: #f8f8f8;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */